@model SVGViewModel
@{
    ViewData["Title"] = "Editor";
    Layout = "~/Views/Shared/_EditorLayout.cshtml";
}

@*eidt view*@
<input type="hidden" id="mediaId" value="@Model.mediaId"/>
<input type="hidden" id="svg_filePath" value="@Model.svgFilePath" />
<input type="hidden" id="words" value="@Model.words"/>
<input type="hidden" id="styleIndex" value="@Model.styleIndex"/>
<input type="hidden" id="version" value = "@Model.version"/>
<input type="hidden" id="message" value = "@Model.msg"/>
<button id="btn_warpEndHandler" style="display:none"></button>
<div id="bodyOverlay"></div>
<div id="svgEditorView" class="sub-view d-flex align-items-center w-100 h-100">
    <div class="d-flex h-100 w-100">
        <div class="d-flex align-items-center h-100">
            <div id="sideToolBar" class="d-flex flex-column justify-content-between" style="height: 35%;width:40px;margin-left:1rem;">
                <div class="d-flex flex-column align-items-center justify-content-between side-toolBar" style="height: 70%;">
                    <div id="color-previewer" style="width: 20px;height:20px;border-radius:50%; background-color: #ec008c;cursor:pointer;z-index:101;">
                    </div>
                    <img class="toolbar-icon" id="setting" src="~/imgs/setting.png" style="z-index:101;">
                    <img class="toolbar-icon" id="spana" src="~/imgs/spana.png" style="z-index:101;">
                </div>
                <div class="align-items-center d-flex flex-column justify-content-center side-toolBar" style="height: 25%;min-height: 52px;padding: 0;">
                    <div id="undo" title="undo" class="btn_redo" style="z-index:101;"><img style="width:100%;height:100%" src="~/imgs/ic_undo.svg" /></div>
                    <div id="redo" title="redo" class="btn_redo" style="z-index:101;"><img style="width:100%;height:100%" src="~/imgs/ic_redo.svg" /></div>
                </div>
            </div>
            <div class="d-flex align-items-center h-100" style="padding-left:20px;">
                <div id="colorToolBox" class="toolBox-theme flex-column" style="padding:30px 0 0 0 !important;z-index:101;height:650px !important;">
                    <div id="tab_name" class="default-text">Colors</div>
                    <div class="d-flex" style="margin:10px 25px;border-radius:8px;background-color:#fff;">
                        <div class="col-4 colorPanelTab active">Colors</div>
                        <div class="col-4 colorPanelTab">Palettes</div>
                        <div class="col-4 colorPanelTab">Gradients</div>
                    </div>
                    <div id="color_panel" class="color-tab color-picker-container active" style="padding: 0 25px 0 25px !important;">
                        <div class="colorPanel-container" id="colors_container">
                            <div style="position:relative; width:100%;">
                                <div class="snippet" id="snippet-block" style="margin: 16px 0px;">
                                    <input id="color-block"
                                            type="text"
                                            value="#ff8800"
                                            data-wheelcolorpicker
                                            data-wcp-format="css"
                                            data-wcp-layout="block"
                                            data-wcp-sliders="w"
                                            data-wcp-cssClass="color-block d-flex flex-column justify-content-center align-items-center"
                                            data-wcp-autoResize="true"
                                            data-wcp-mobile="true" />
                                </div>
                            </div>
                            <div class="brightnessValueContainer">
                                <input type="range" min="0" max="1" value="1" step="0.01" id="brightness" class="brightnessSlider" />
                            </div>
                            <div class="d-flex flex-row justify-content-between align-items-center" style="width:100% !important; padding-top:8px; padding-bottom:8px;">
                                <span class="color-setting-title default-text">Hex Color</span>
                                <input id="color-input" type="text" class="color-input form-control" />
                            </div>
                            <div class="color-history-container">
                                <div class="history-control d-flex flex-row justify-content-between">
                                    <div class="color-setting-title default-text">History</div>
                                    <div class="color-setting-title default-text" style="text-align:right" id="clearHistory">Clear</div>
                                </div>
                                <div class="history-colors d-flex">
                                    <div class="oldColor flex-fill"></div>
                                    <div class="oldColor flex-fill"></div>
                                    <div class="oldColor flex-fill"></div>
                                    <div class="oldColor flex-fill"></div>
                                    <div class="oldColor flex-fill"></div>
                                    <div class="oldColor flex-fill"></div>
                                    <div class="oldColor flex-fill"></div>
                                    <div class="oldColor flex-fill"></div>
                                    <div class="oldColor flex-fill"></div>
                                </div>
                            </div>
                            <div class="cur-palette d-flex" id="cur-palette"></div>
                        </div>
                    </div>
                    <div id="palettes_container" class="color-tab palettes-container flex-column">
                        <div class="flex-grow-1 d-flex flex-column justify-content-between" id="palettes">
                        </div>
                        <div id="generatePalettes">
                            Generate More
                        </div>
                    </div>
                    <div id="gradients_container" class="color-tab gradients-container flex-column">
                        <div style="margin-bottom: 20px;padding: 0 30px;">
                            <div class="d-flex justify-content-between py-2 align-items-baseline default-text" style="font-size:12px">
                                <div class="">
                                    Gradient Angle
                                </div>
                                <div class="progress-value"><span id="stroke_gradientAngle">1%</span></div>
                            </div>
                            <div class="">
                                <tc-range-slider id="sli_stroke_gradientAngle" data-default-value="1" data-shower-id="stroke_gradientAngle" min="0" max="359" value="1"
                                                 slider-width="100%" slider-height="3px" pointer-width="16px"
                                                 pointer-height="16px" slider-bg="#dedede" slider-bg-hover="#14bdff" slider-bg-fill="#14bdff"
                                                 pointer-bg="#14bdff" pointer-bg-hover="#14bdff" pointer-bg-focus="#14bdff" pointer-border="None">
                                </tc-range-slider>
                            </div>
                        </div>
                        <div class="flex-grow-1 d-flex flex-column justify-content-between" id="gradients"></div>
                    </div>
                </div>
                <div id="filterToolBox" class="toolBox-theme flex-column" style="z-index:101;">
                    <div class="default-text" style="font-size: 22px;">
                        Filters
                    </div>
                    <div class="default-text" style="font-size: 18px;">
                        Select word to adjust.
                    </div>
                    <div class="detail-set-option">
                        <div class="d-flex justify-content-between py-2 align-items-baseline default-text" style="font-size:12px">
                            <div class="">
                                Brightness
                            </div>
                            <div class="progress-value"><span id="stroke_brightness">1%</span></div>
                        </div>
                        <div class="">
                            <tc-range-slider id="sli_stroke_brightness" data-default-value="1" data-shower-id="stroke_brightness" min="1" max="100" value="1"
                                                slider-width="100%" slider-height="3px" pointer-width="16px"
                                                pointer-height="16px" slider-bg="#dedede" slider-bg-hover="#14bdff" slider-bg-fill="#14bdff"
                                                pointer-bg="#14bdff" pointer-bg-hover="#14bdff" pointer-bg-focus="#14bdff" pointer-border="None">
                            </tc-range-slider>
                        </div>
                    </div>
                    <div class="detail-set-option">
                        <div class="d-flex justify-content-between py-2 align-items-baseline default-text" style="font-size:12px">
                            <div class="">
                                Contrast
                            </div>
                            <div class="progress-value"><span id="stroke_contrast">1</span></div>
                        </div>
                        <div class="">
                            <tc-range-slider id="sli_stroke_contrast" data-default-value="1" data-shower-id="stroke_contrast" min="0" max="2" value="1" step="0.01"
                                                slider-width="100%" slider-height="3px" pointer-width="16px"
                                                pointer-height="16px" slider-bg="#dedede" slider-bg-hover="#14bdff" slider-bg-fill="#14bdff"
                                                pointer-bg="#14bdff" pointer-bg-hover="#14bdff" pointer-bg-focus="#14bdff" pointer-border="None">
                            </tc-range-slider>
                        </div>
                    </div>
                    <div class="detail-set-option">
                        <div class="d-flex justify-content-between py-2 align-items-baseline default-text" style="font-size:12px">
                            <div class="">
                                Saturation
                            </div>
                            <div class="progress-value"><span id="stroke_saturation">1%</span></div>
                        </div>
                        <div class="">
                            <tc-range-slider id="sli_stroke_saturation" data-default-value="1" data-shower-id="stroke_saturation" min="1" max="100" value="1"
                                                slider-width="100%" slider-height="3px" pointer-width="16px"
                                                pointer-height="16px" slider-bg="#dedede" slider-bg-hover="#14bdff" slider-bg-fill="#14bdff"
                                                pointer-bg="#14bdff" pointer-bg-hover="#14bdff" pointer-bg-focus="#14bdff" pointer-border="None">
                            </tc-range-slider>
                        </div>
                    </div>
                    <div class="detail-set-option">
                        <div class="d-flex justify-content-between py-2 align-items-baseline default-text" style="font-size:12px">
                            <div class="">
                                Hue
                            </div>
                            <div class="progress-value"><span id="stroke_hue">1%</span></div>
                        </div>
                        <div class="">
                            <tc-range-slider id="sli_stroke_hue" data-default-value="1" data-shower-id="stroke_hue" min="1" max="360" value="1"
                                                slider-width="100%" slider-height="3px" pointer-width="16px"
                                                pointer-height="16px" slider-bg="linear-gradient(to right, rgb(255, 0, 0) 0%, rgb(255, 255, 0) 16.666%, rgb(0, 255, 0) 33.333%, rgb(0, 255, 255) 50%, rgb(0, 0, 255) 66.666%, rgb(255, 0, 255) 83.333%, rgb(255, 0, 0) 100%)"
                                                slider-bg-hover="None"
                                                slider-bg-fill="None"
                                                pointer-bg="#14bdff" pointer-bg-hover="#14bdff" pointer-bg-focus="#14bdff" pointer-border="None">
                            </tc-range-slider>
                        </div>
                    </div>
                </div>
                <div id="actionToolBox" class="d-flex flex-column toolBox-theme" style="height: 35% !important;z-index:101;">
                    <div class="default-text" style="font-size: 22px;margin-bottom: 15px;">
                        Actions
                    </div>
                    <div style="overflow-y: auto;" class="d-flex flex-column flex-grow-1 justify-content-around action-container">
                        <div class="d-flex my-2">
                            <div></div>
                            <div class="default-text" style="font-size:14px;padding-left: 38px;cursor:pointer;">Send to TrueBrush</div>
                        </div>
                        <div class="d-flex my-2" style="cursor:pointer;">
                            <div></div>
                            <div class="default-text" style="font-size:14px;padding-left: 38px;">Send to TDT</div>
                        </div>
                        <div class="align-items-center d-flex my-2" style="cursor:pointer;">
                            <img style="width: 22px;height: 20px;" src="~/imgs/share.png" />
                            <div class="default-text" style="font-size:14px;padding-left: 15px;">Share</div>
                        </div>
                        <div class="align-items-center d-flex my-2" id="svg_download" style="cursor:pointer;">
                            <img style="width: 22px;height: 20px;" src="~/imgs/download.png" />
                            <div class="default-text" style="font-size:14px;padding-left: 15px;">Download</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="btn_warpText" class="d-none"></button>
        <div id="svgViewer" class="d-flex align-items-center justify-content-center flex-grow-1">
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/ColorPickerScript.js"></script>
    <script src="~/js/EditorScript.js"></script>
}
   

